@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 95%);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container {
    width: 80%;
    margin: 4rem;
    border-radius: 8px;
    font-family: 'Lexend Deca';
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.innercard {
    width: 100%;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    padding: 2rem;
    border-radius: 8px 8px 0 0;
}

.suvs {
    background-color: hsl(184, 100%, 22%);
    padding: 2rem;
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    padding: 2rem;
    border-radius: 0 0 8px 8px;

}
h2 {
    font-family: 'Lexend Deca';
    font-size: 1.7rem;
    color: hsl(0, 0%, 95%);
    margin: 1rem 0;
}

p {
    color:  hsla(0, 0%, 100%, 0.75);
    font-size: 0.7rem;
    margin: 1rem 0;
}

button {
    background-color: hsl(0, 0%, 95%);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 7rem;
    font-size: 0.7rem;
}

.orangebtn {
    color:hsl(31, 77%, 52%);
}

.bluebtn {
    color: hsl(184, 100%, 22%);
}

.greenbtn {
    color:hsl(179, 100%, 13%);
}


@media (min-width:550px) {

    .container {
        width: 80%;
        margin: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        max-width: 600px;
    }
    .sedans {
        width: 33.3%;
        border-radius: 8px 0 0 8px;

    }

    .suvs {
        width: 33.3%;
        border: none;
    }

    .luxury{
        width: 33.3%;
        border-radius: 0 8px 8px 0;
    }
}